<p>
    <b>Szavazás:</b> {{ elem.cim }}<br />&nbsp;&nbsp;&nbsp;&nbsp;
    {{ elem.mellette }} mellette, {{ elem.ellene }} ellene, {{ elem.tartozkodott }} tartózkodott, {{ elem.ervenytelen }} érvénytelen
</p>
