<html>
<head>
    <style>
        div {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div style="margin: 0 auto; text-align: center">
        <b style="font-size: 26px">{{ jegyzokonyv.nev }}</b><br />
        <span style="font-size: 18px">{{ jegyzokonyv.datum|date("Y. m. d.") }}</span>
    </div>

    <div>
        <b>Ülés kezdete:</b> {{ jegyzokonyv.datum|date("H:i") }}<br />
        <b>Ülés helyszíne:</b> {{ jegyzokonyv.helyszin }}<br />
        <b>Szavazati jogú tagok száma: </b> {{ jegyzokonyv.szavazatiJoguTagokSzama }} fő<br />
        <b>Jegyzőkönyv írója:</b> {{ jegyzokonyv.jegyzokonyviro.nev }}<br />
        <b>Jegyzőkönyv hitelesítők:</b> {{ jegyzokonyv.hitelesito1.nev }}, {{ jegyzokonyv.hitelesito2.nev }}<br />
        <b>Az ülés{% if not jegyzokonyv.ulesHatarozatkepes %} nem{% endif  %} határozatképes:</b>
            {{ jegyzokonyv.szavazatiJoguTagokSzama }} szavazati jogú
            tagból {{ jegyzokonyv.jelenLevoSzavazatiJoguak }} jelen van<br />
    </div>

    <b style="font-size: 22px;"><u>Napirendi pontok:</u></b>
    <ol>
    {% for elem in jegyzokonyv.elemek if elem.tipus == "napirendipont" %}
        <li>
            <b>{{ elem.cim }}</b>
            {% if elem.eloterjeszto %}
            <br />Előterjesztő: {{ elem.eloterjeszto }}
            {% endif %}
        </li>
    {% endfor %}
    </ol>

    {% for elem in jegyzokonyv.elemek %}
    <div>
        {% include "SzakdolgozatJegyzokonyvBundle:Pdf:_" ~ elem.tipus ~ ".html.twig" with { "elem": elem } %}
    </div>
    {% endfor %}

    <p>
        <b>Ülés zárása:</b> {{ jegyzokonyv.ulesVege|date("H:i") }}
    </p>

    <br /><br /><br />
    <table border="0" style="margin: 0 auto; width: 70%; text-align: center; page-break-inside: avoid;">
        <tr>
            <td colspan="3" height="40">&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td style="border-top: 1px solid black;">
                {{ jegyzokonyv.jegyzokonyviro.nev }}<br />
                jegyzőkönyvíró
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" height="40">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-top: 1px solid black;">
                {{ jegyzokonyv.hitelesito1.nev }}<br />
                hitelesítő
            </td>
            <td></td>
            <td style="border-top: 1px solid black;">
                {{ jegyzokonyv.hitelesito2.nev }}<br />
                hitelesítő
            </td>
        </tr>
    </table>
</body>
</html>
