{% extends "::base.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Felhasználók</h1>
</div>

{% for sze in szervezeti_egysegek %}
<h3>{{ sze.nev }}</h3>
<table class="table table-striped felhasznalo">
    <tr>
        <th>Név</th>
        <th>Email</th>
        <th>Jogok</th>
        <th>Bejelentkezhet</th>
        <td></td>
    </tr>
    {% for f in sze.felhasznalok %}
    <tr>
        <td>{{ f.nev }}</td>
        <td>{{ f.email }}</td>
        <td>{% for j in f.jogok %}{{ j.nev }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
        <td><span class="label label-{% if f.bejelentkezhet %}success{% else %}important{% endif %}">{{ f.bejelentkezhet ? "igen" : "nem" }}</span></td>
        <td><a href="{{ path("szakdolgozat_felhasznalo_felhasznalo_edit", { "id": f.id }) }}">szerkesztés</a></td>
    </tr>
    {% endfor %}
</table>
{% endfor %}

<a href="{{ path("szakdolgozat_felhasznalo_felhasznalo_new") }}" class="btn btn-primary">Új felhasználó</a>
{% endblock %}
