{% extends "::base.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Új jegyzőkönyv</h1>
</div>

<form action="{{ app.request.requesturi }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_row(form.nev) }}
    {{ form_row(form.hitelesito_1) }}
    {{ form_row(form.hitelesito_2) }}
    {{ form_row(form.nev) }}
    {{ form_row(form.datum) }}
    {{ form_row(form.helyszin) }}

    <div id="jegyzokonyv_elemek">
        <div class="felszolalas">
            <div class="closebtn"><a href="#">x</a></div>
            {{ form_row(templatek.felszolalas.szoveg) }}
        </div>

        <div class="napirendipont">
            <div class="closebtn"><a href="#">x</a></div>
            {{ form_row(templatek.napirendipont.cim) }}
        </div>

        <div class="szavazas">
            <div class="closebtn"><a href="#">x</a></div>
            {{ form_row(templatek.szavazas.cim) }}
            {{ form_row(templatek.szavazas.mellette) }}
            {{ form_row(templatek.szavazas.ellene) }}
            {{ form_row(templatek.szavazas.tartozkodott) }}
            {{ form_row(templatek.szavazas.ervenytelen) }}
        </div>
    </div>

    <div class="form-actions">
        {{ form_widget(form._token) }}
        <input type="submit" value="Mentés" class="btn btn-primary" />
        <a href="{{ path("szakdolgozat_jegyzokonyv_jegyzokonyv_index") }}">mégsem</a>
    </div>
</form>
{% endblock %}
