{% extends "::base.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Új jegyzőkönyv</h1>
</div>

<form action="{{ app.request.requesturi }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_row(form.nev) }}
    {{ form_row(form.hitelesito_1) }}
    {{ form_row(form.hitelesito_2) }}
    {{ form_row(form.nev) }}
    {{ form_row(form.datum) }}
    {{ form_row(form.helyszin) }}

    <div id="jegyzokonyv_elemek">
        <div class="jegyzokonyvelem felszolalas">
            <div class="closebtn"><a href="#" title="Elem törlése">x</a></div>
            {{ form_row(templatek.felszolalas.szoveg) }}
        </div>

        <div class="jegyzokonyvelem napirendipont">
            <div class="closebtn"><a href="#" title="Elem törlése">x</a></div>
            {{ form_row(templatek.napirendipont.cim) }}
        </div>

        <div class="jegyzokonyvelem szavazas">
            <div class="closebtn"><a href="#" title="Elem törlése">x</a></div>
            {{ form_row(templatek.szavazas.cim) }}
            {{ form_row(templatek.szavazas.mellette) }}
            {{ form_row(templatek.szavazas.ellene) }}
            {{ form_row(templatek.szavazas.tartozkodott) }}
            {{ form_row(templatek.szavazas.ervenytelen) }}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <a class="btn" id="uj_napirendipont">Új napirendi pont</a>
            <a class="btn" id="uj_felszolalas">Új felszólalás</a>
            <a class="btn" id="uj_szavazas">Új szavazás</a>
        </div>
    </div>

    <div class="form-actions">
        {{ form_widget(form._token) }}
        <input type="submit" value="Mentés" class="btn btn-primary" />
        <a href="{{ path("szakdolgozat_jegyzokonyv_jegyzokonyv_index") }}">mégsem</a>
    </div>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("/js/jquery-ui-1.10.2.custom.min.js") }}"></script>
<script src="{{ asset("/js/jegyzokonyv_form.js") }}"></script>
{% endblock %}
